.host {
}

.song-image {
  width: 80px;
  height: 80px;
  background: none;
  border: none;

}

.song-grid-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.song-artist {
}

.song-title {


}