.sidebar-bottom {
    background-color: #3F3F3F;
    color: #FFFFFF;
    border-radius: 0px 0px 0px 8px;
    flex-direction: column;
    display: flex;
    margin: 16px 0px 16px 16px;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 400px;

}