:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.sidebar-top {
    background-color: #3F3F3F;
    color: #FFFFFF; 
    margin: 16px 0px 0px 16px;
    border-radius: 8px 0px 0px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    flex: 1;

}