.panel-top {
    background-color: #3F3F3F;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 8px 0px 0px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding-bottom: 8px;
    height: 100%;

}