<div class="sidebar-top">
  <h2 class="sidebar-title">
    hello
  </h2>
      <div class="main-display">
    <app-song-card class="song-card"></app-song-card>
    <app-song-card class="song-card"></app-song-card>
    <app-song-card class="song-card"></app-song-card>
    <app-song-card class="song-card"></app-song-card>
    <app-song-card class="song-card"></app-song-card>
    <app-song-card class="song-card"></app-song-card>
    <app-song-card class="song-card"></app-song-card>
    </div>
    </div>
