.main-screen {
    background-color: #3F3F3F;
    color: #FFFFFF; 
    margin: 16px;
    border-radius: 0px 8px 0px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: auto;
}