.main-screen {
    background-color: #3F3F3F;
    color: #FFFFFF; 
    margin: 16px;
    border-radius: 0px 8px 0px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex: 1;
}

.main-page-navbar {
    padding: 20px 0px 20px 40px;
}

.main-screen-top {
    width: 100%;
    display: flex;
}