<div class="navigation-bar">
  <div class="home-buttons">
    <img src = "assets/nav-bar-icons/volume.svg" class = volume/> 
      <div class="progress">
      <input #volumeSlider (input) = readValue(volumeSlider) type="range" min="0" max="100" step="any" />
    </div>
    <button class="control-button">
      <img src="assets/nav-bar-icons/group.svg" class="group-button" />
    </button>
    <button class="control-button">
      <img src="assets/nav-bar-icons/search.svg" class="search-button" />
    </button>
    <button class="control-button">
      <img src="assets/nav-bar-icons/home.svg" class="home-button" />
    </button>
    <button class="control-button">
      <img src="assets/nav-bar-icons/heart.svg" class="heart-button" />
    </button>
    <button class="control-button">
      <img src="assets/nav-bar-icons/account.svg" class="account-button" />
    </button>
      <button class="control-button">
      <img src="assets/nav-bar-icons/add-song.svg" (onClick) = importSong() class="add-song-button" />
    </button>
  </div>
</div>