.navigation-bar {
    background-color: #3F3F3F;
    height: 100px;
    color: #FFFFFF; 
    margin: 0px 16px 16px 16px;
    border-radius: 0px 0px 8px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}