/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  height: 100%;
  display: block;
}