:host {
  
}

.home-layout {
  display: grid;
  grid-template-columns: 280px 1fr; /* left width + rest */
  gap: 16px;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.home-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}