
.home-layout {
  display: flex;
  height: 100%;
  width : 100%;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;               
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-screen {
  display: flex;
  flex-direction: row;
  flex: 1;
}


.sidebar-top {
  flex: 1;
}
